<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/admin_style.css}" rel="stylesheet" />
    <title>Library Admin</title>
</head>

<body>

    <header>
        <div class="logo">
            <h2>Library Management</h2>
        </div>
        <nav >
           <!--  <a href="/admin/login">Home</a> -->
            <a href="book">Books</a>
            <a href="Member">Members</a>
           
            <a href="#profile">Profile</a>
            <a href="logout">Logout</a>
        </nav>
    </header>
		
    <div class="container">
        <div class="row">
		<form method="post">
              <div class="side-panel" style=" background-color: #02091D;">
           <div class="profile-picture" th:each="log : ${LoggedInUser}" >    
        		<img th:src="@{'data:image/png;base64,' + ${log.base64ImageData}}"
     class="rounded-circle" >
        </div>
            <div class="user-info" th:each="log : ${LoggedInUser}" style = "font-family: monospace;
    font-size: medium;">
				<h2 th:text="${log.name}"></h2>
                <p th:text="'Email: '+${log.email}"></p>
                <p th:text="'About : '+${log.about}"></p>
                <p th:text="'Course : '+${log.cousre}"></p>
                <p th:text="'University/College : '+${log.university_college}"></p>
            </div>
        </div>
        </form>
        </div>
        <div class="addBook_btn">
            <a href="/submit" class="addBook">Click here to add a new book.</a>
        
		         <div class="col-md-4 mb-4">
			   		<div class="card">
			         <table class="table">
			            <thead>
			                <tr>
			                <th>S.No</th>
			                    <th>Book id</th>
			                    <th>Book Name</th>
			                   	<th>Author</th>
			                    <th>Book Category</th>
			                    <th>Genre</th>
			                    <th>Action</th>
			                    
			                </tr>
			            </thead>
			            <tbody>        
			               
			                     <tr th:each="return, iterStat : ${Books}">
			            			<td th:text="${iterStat.index + 1}"></th>
			            			<td th:text = "${return.bookId}"></td>
				                    <th th:text="${return.bookName}"></th>
				                    <th th:text="${return.book_author}"></th>
				                   	<th th:text="${return.book_category_id.name}"></th>
				                   	<th th:text="${return.book_category_id.genre}"></th>
				                    
				                     <td>
						           		<!-- 	<button th:id="'returnButton' + ${return.issuedBookId.id}" class="btn btn-primary" th:onclick="'returnBook(' + ${return.issuedBookId.id} + ')'">Return</button>-->	
						           		<button class="btn btn-primary">Return</button>
									 </td>
			                    </tr>
			                    
			               
		            </tbody>
		        </table>
		        
		    </div>
</div>
</div>

        <section class="book" id="bookPopup" style="display: none;">
            <div class="book-popup-content">
                <div class="header">
                    <h2>Add Book</h2>
                    <div class="close-btn">&times;</div>
                </div>
                <div style="display: flex; margin-top: 26px;">
                    <form method="post" enctype="multipart/form-data" action="/library/admin/book">
                        <div class="mb-3">
                            <label for="bookName" class="form-label">Book Name</label>
                            <input type="text" class="form-control" id="bookName" name="book_name" required="">
                        </div>
                        <div class="mb-3">
                            <label for="book_author" class="form-label">Author</label>
                            <input type="text" class="form-control" id="book_author" name="book_author" required="">
                        </div>
                        <div class="mb-3">
                            <label for="book_description" class="form-label">Book Description</label>
                            <input type="text" class="form-control" id="book_description" name="book_description" required="">
                        </div>
                        <div class="mb-3">
                            <label for="book_category_id" class="form-label">Book Category</label>
                            <select class="form-control" name="book_category_id">
                             	<option value="">Select a category</option>
							    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
							</select>
                        </div>
                        <div class="mb-3">
                            <label for="imageData" class="form-label">Book Image</label>
                            <input type="file" class="form-control" id="imageData" name="imageData" accept="image/*" required="required">
                        </div>
                        <button type="submit">Add Book</button>
                    </form>
                </div>
            </div>
        </section>

    </div>
    

    <footer>
        <p>&copy; 2024 Library Admin Page</p>
    </footer>
    <script>
        var addBookLink = document.querySelector('.addBook');
			  var bookPopup = document.getElementById('bookPopup');
			  var closeBtn = document.querySelector('.close-btn');
			
			  // Add click event listener to the link
			  addBookLink.addEventListener('click', function(event) {
			      event.preventDefault(); // Prevent the default link behavior
			      bookPopup.style.display = 'block'; // Show the popup
			  });
			
			  // Add click event listener to the close button
			  closeBtn.addEventListener('click', function() {
			      bookPopup.style.display = 'none'; // Hide the popup
			  });
    </script>
</body>

</html>